<%- include('partials/head') %>

<a href="/">Back</a>

<h2><%= person.name %></h2>
<p>Squad: <%= person.squad_id %>

<section lang="nl">

  <form method="POST" action="/detail/<%= person.id %>" id="toggle-like">
    <%- include('partials/like-button', {person: person}) %>
  </form>

  <%- include('partials/messages', {person: person}) %>

  <h2>Laat een bericht achter voor deze persoon!</h2>
  <form method="POST" action="/detail/<%= person.id %>" id="post-message">
    <label>
      Bericht
      <textarea name="message" required></textarea>
    </label>
    <input type="hidden" name="actie" value="verstuur">
    <button type="submit">Verstuur</button>
  </form>
</section>

<%- include('partials/foot') %>