<%- include('partials/head') %>

<a href="/">Back</a>

<h2><%= person.name %></h2>
<p>Squad: <%= person.squad_id %>

<section lang="nl">

  <form method="POST" action="/detail/<%= person.id %>" id="toggle-like">
    <%- include('partials/like-button', {person: person}) %>
  </form>

  <section id="messages">
    <h2>Eerdere berichten</h2>
    <% if (person.custom.messages && person.custom.messages.length) { %>
      <ol>
        <% person.custom.messages.forEach(message => { %>
          <li><%= message %></li>
        <% }) %>
      </ol>
    <% } else { %>
      <p>Er zijn nog geen berichten.</p>
    <% } %>
  </section>

  <h2>Laat een bericht achter voor deze persoon!</h2>
  <form method="POST" action="/detail/<%= person.id %>" id="post-message">
    <label>
      Bericht
      <textarea name="message" required></textarea>
    </label>
    <button type="submit" name="actie" value="verstuur">Verstuur</button>
  </form>
</section>

<%- include('partials/foot') %>